<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-utensils me-2"></i>Smart Tiffin
        </a>
        
        <div class="navbar-nav ms-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user me-1"></i> <%= user.name %>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/customer-dashboard">Dashboard</a></li>
                    <li><a class="dropdown-item" href="/become-chef">Become a Chef</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>